.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box .header-wrapper {
  height: 66.47px;
  width: 100%;
  padding: 0px 96px;
  background-color: #1c2225;
}

.box .header {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
  mix-blend-mode: normal;
  width: 100%;
}

.box .logo-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 9px 0px;
  position: relative;
  width: fit-content;
}

.box .logo-container {
  height: 48.47px;
  margin-right: -2px;
  min-width: 128px;
  position: relative;
}

.box .logo {
  height: 37px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 37px;
}

.box .rectangle {
  background-color: #ffffff;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .div {
  background-color: #ffffff;
  border-radius: 0px 50px 0px 0px;
  height: 10px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .rectangle-2 {
  background-color: #ffffff;
  height: 10px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .rectangle-3 {
  background-color: #ffffff;
  border-radius: 0px 0px 50px 0px;
  height: 10px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 10px;
}

.box .rectangle-4 {
  background-color: #ffffff;
  height: 10px;
  left: 13px;
  position: absolute;
  top: 27px;
  width: 10px;
}

.box .rectangle-5 {
  background-color: #ffffff;
  height: 10px;
  left: 26px;
  position: absolute;
  top: 20px;
  width: 10px;
}

.box .rectangle-6 {
  background-color: #ffffff;
  height: 10px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 10px;
}

.box .DIGITAL-FORGE {
  color: #f2f6f7;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 82px;
}

.box .text-wrapper {
  font-weight: 700;
}

.box .span {
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
}

.box .link {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding: 9px 0px;
  position: relative;
  width: fit-content;
}

.box .nav-services {
  color: #ffffff;
  font-family: "Plus Jakarta Sans-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.box .portfolios {
  color: #ffffff;
  font-family: "Plus Jakarta Sans-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.box .about-us {
  color: #ffffff;
  font-family: "Plus Jakarta Sans-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
